<!DOCTYPE html>
{% extends "base.html" %}
{% block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>
<h1>Расписание</h1>

<div class="schedule">
    <a class="butt_win" id="go_back" href="{{url_for('schedule_stud', cur_week=go_back)}}" style="position:absolute; top:203px;left:10px;">Назад</a>
    <a class="butt_win" id="go_next" href="{{url_for('schedule_stud', cur_week=go_next)}}" style="position:absolute; top:203px;right:10px;">Вперед</a>
    {% for att in list_zan %}
    <h2>{{att[0]}} {{att[1]}}</h2>
    <table width="100%">
        <tr>
            <td width="25%">Предмет</td>
            <td width="50%">Д/З</td>
            <td>Баллы</td>
            <td>Комментарий</td>
        </tr>
        {% for g in range(2, att|length )%}
            <tr>
                <td>
                    {% for i in range(5) %}
                        {{ att[g][i] }}<br>
                    {% endfor %}
                </td>
                {% for i in range(5, 8) %}
                <td style="text-align: center;">{%if att[g][i] %}{{att[g][i]}}{% endif %}</td>
                {% endfor %}
            </tr>
        {%endfor%}
    </table>
    {% endfor %}
</div>
</body>
</html>
{% endblock %}